
{% extends 'base.html.twig' %}

{% block title %}Accueil site backoffice{% endblock %}

{% block body %}
<header class="" >
<nav class="col-12 navbar navbar-expand-lg navbar-light  justify-content-center justify-content-between  align-items-start align-items-md-center  d-flex  flex-md-column .flex-row">
<div class=" title__header d-flex justify-content-center align-items-center header">
  <img class="logo m-3" src="{{asset('assets/images/icon.png')}}" alt="">
 <h1 class="color_1 "  >Petites aides</h1>
</div>

 <p class="font-italic color_1 m-4 d-none d-md-block">
Une collection d'outils en ligne à usage unique gratuits pour les développeurs Web...</p>
 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse col-12 my-4" id="navbarTogglerDemo02">
    <ul class="navbar-nav  d-flex justify-content-center align-items-start flex-column">
      <li class="">
        <h2 >Catégories </h2>
      </li>
      <li class="nav-item d-flex m-2">
        <a class="nav-link" href="{{ path('sites_index') }}">Toutes les catégories</a>
      </li>
      {% for categorie in categories %}
 
      {% if categorie.sites|length > 0 %}
      <li class="nav-item d-flex m-2 ">
        <a class="nav-link col-10" href="{{ path('sites_tag_show', {'id': categorie.id}) }}">{{ categorie.title }} </a>

        <p class="nav-link col-2">{{categorie.sites|length}}</p>
</li>
{% endif %}   
     {% endfor %}
    </ul>

  </div>
</nav>

</header>

<section class=" content" >
<section class="reseaux w-100 title__header ">
<div class="col-11 d-flex justify-content-end align-items-center">

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
  <i class="las la-user-circle"></i>
  <p class="m-2">{{ app.user.username }}</p>
  <a class="ml-2 m-2  btn btn-outline-dark " href="{{ path('app_logout') }}">Déconnexion</a>
{% endif %}
</div>
</section>


{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<section class="menu__admin w-100 p-4 d-flex justify-content-start align-items-center flex-column flex-md-row">
<p class="px-4">Vous pouvez réaliser les actions suivantes :</p>
<a href="{{ path('index') }}" class="btn btn-outline-danger mx-4 m-1">Retourner au site</a>
<a href="{{ path('sites_new') }}" class="btn btn-outline-danger mx-4 m-1">Ajouter un outil/site</a>
 {% if is_granted('ROLE_ADMIN') %}
<a href="{{ path('category_index') }}" class="btn btn-outline-danger mx-4 m-1">Gérer les catégories</a>
{% endif %}
</section>
{% endif %}


<section class="debut col-12 d-flex flex-column flex-md-row">
  <h3 class="debut__title col-md-4 col-sm-12 p-4 text-md-left text-center">Tous les outils</h3>
  <div class="col-md-8 col-sm-12 p-4 m-2 sort d-flex justify-content-center justify-content-md-end align-items-center">
  
    <a href="{{ path('sites_index') }}" class="mr-4 normal__link" >Trier par nom</a>
    <a href="{{ path('sites_index_latest') }}" class="mr-4 normal__link"  >Trier par  date</a>
  </div>
</section>

<section class="sites col-12 d-flex flex-wrap justify-content-around">


 {% for site in sites|sort((b, a) => a.publishedAt <=> b.publishedAt) %}
 
  <div class="site   my-4 ">
    <div class="site__part1">
      <p class="site__date p-1 rounded">Added {{site.publishedAt|date("d/m/Y")}}</p>
      <a class="site__image"  href="{{site.link}}"><img src="{{asset('assets/images/' ~ site.illustration) }}" alt=""></a>
    </div>
    <div class="site__part2">
      <h3 class="site__title p-2">{{ site.title}}</h3>
      <div class="site__category p-2 ">
            <a class=" btn btn-outline-info btn-sm" href="{{ path('tag_show', {'id': site.category.id}) }}">{{ site.category.title }}</a>
             {% if is_granted('ROLE_ADMIN') %}
         <a href="{{ path('sites_delete', { id: site.id }) }}" class="btn btn-outline-warning">Effacer</a>
         {% endif %}
          <a href="{{ path('sites_edit', { id: site.id }) }}" class="btn btn-outline-success">Modifier</a>
      </div>

      <p class="site__content p-2 text-justify">{{site.description}}</p>
      <div class="site__link w-100 text-center">
            <a class="normal__link"  href="{{site.link}}"> Go to {{ site.title}}</a>

      </div>
    </div>
    </div>

  
  
  </div>
  {% endfor %}
</section>
</section>

{% endblock %}